#home {
  section {
    @include breakpoint('xlarge') {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 125px);
    }
  }
  .header { color: $accent; }

  .links {
    i {
      color: $dark;
      font-size: 30px;
      padding: 5px;
      transition: color 200ms;

      &:hover { color: $accent; }
    }
  }
}
