#home {
  .header { color: $accent; }

  .vert-align-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .links {
    i {
      color: $dark;
      font-size: 30px;
      padding: 5px;
      transition: color 200ms;

      &:hover { color: $accent; }
    }
  }
}
