.container {
  background: image-url('splot.svg') center no-repeat;
  position: relative;
  z-index: 100;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: black;
    font-family: 'Joe';
    font-size: 60px;

    span { font-family: 'John'; color: #EECF6D}
  }
}

.circle {
  border: 2px solid #EECF6D;
  position: relative;
  z-index: 200;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;

  &.c2 {
    bottom: 10px;
    right: 10px;
    animation: spin 2s infinite linear;

    &:hover {
      animation-duration: 100ms;
      cursor: pointer;
    }
  }

  &.c1 {
    animation: spin 2.3s infinite linear;

    &:hover {
      animation-duration: 100ms;
      cursor: pointer;
    }
  }

  .half {
    width: 50%;
    height: 100%;

    &.black { background: #EECF6D; }
  }
}

.modal {
  z-index: 9999;
  position: fixed;
  background: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    background: white;
    padding: 20px 30px;
    max-width: 700px;

    h1 {
      color: black;
      font-family: 'Joe';
      font-size: 60px;

      span { font-family: 'John'; color: #EECF6D}
    }
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

.hide {display: none; }

.text-center { text-align: center; }
