#music {
  .header { color: $accent; }

  ul {
    li { margin-bottom: .5rem; }
  }

  .links {
    i {
      color: $dark;
      font-size: 30px;
      padding: 5px;
      transition: color 200ms;

      &:hover { color: $accent; }
    }
  }
}
