$yellow: #FDF002;
$yellow-2: #D4A426;
$gray: #DAD4D4;
$brown: #a56717;
$blue: #0047AB;
$black: black;
$white: white;

$accent: #E2A765;
$dark: #141519;

.black { color: $black !important; }
.white { color: $white !important; }
.yellow { color: $yellow !important; }
.accent-color { color: $accent !important; }
.dark {color: $dark !important; }

.dark-bg { background-color: $dark !important; }
