footer {
  background: $dark;
  padding: 5px 0;

  nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      i {
        color: $white;
        transition: color 200ms;

        &:hover { color: $accent; }
      }
    }
  }
}
