footer {
  background: $dark;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;

  nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      i {
        color: $white;
        transition: color 200ms;

        &:hover { color: $accent; }
      }
    }
  }
}

.mailing-list-btn {
  position: absolute;
  right: 0;
  top: -45px;
  background: #E2A765;
  font-family: John;
  color: white;
  padding: 10px 10px 7px;

  &:hover { background: darken($accent, 5%); }
}
