header {
  .column {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    nav {
      ul {
        display: flex;
        list-style: none;

        li a {
          color: $dark;
          text-decoration: none;
          margin: 10px;
          font-weight: bold;

          &:hover { color: $accent; }
        }
      }

      &.left { order: 2; }
      &.right { order: 3; }

      @media (min-width: 600px) {
        &.left { order: initial; }
        &.right { order: initial; }
      }
    }
  }

  .header-logo {
    color: $accent;
    font-family: 'Joe';
    font-size: 45px;

    span {
      font-family: 'John';
      color: $dark;
    }
  }
}
