header {
  .column {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    nav {
      ul {
        display: flex;
        list-style: none;

        li a {
          color: $dark;
          text-decoration: none;
          margin: 10px;
          font-weight: bold;
          transition: color 200ms;
          display: inline-block;

          &:hover { color: $accent; }
        }
      }

      &.left { order: 2; }
      &.right { order: 3; }

      @media (min-width: 640px) {
        &.left { order: initial; }
        &.right { order: initial; }
      }

      .drop-down {
        position: absolute;
        border: 1px solid $dark;
        background: $white;
        padding: 5px;
        min-width: 150px;
        opacity: 0;
        transition: opacity 200ms;
      }

      .drop-down-link:hover {
        .drop-down {
          opacity: 100;
        }
      }
    }
  }

  .header-logo {
    color: $accent;
    font-family: 'Joe';
    font-size: 40px;
    order: 1;
    word-spacing: -10px;

    @media (min-width: 640px) { order: initial; }

    span {
      font-family: 'John';
      color: $dark;
    }
  }
}
