.background
  .circle.c1
    .black.half
    .white.half
  .circle.c2
    .black.half
    .white.half
.container
  %h1
    %span bad
    magnets

.modal.m1.hide
  .content.text-center
    %h1
      %span who
      are you?

.modal.m2.hide
  .content.text-center
    %h1
      %span what
      are you doing here?

:javascript
  function openModal(modal) {
    console.log(modal);
    $(modal).css('display','flex');
  };

  $('.c1').click(function() {
    openModal('.m1')
  });

  $('.c2').click(function() {
    openModal('.m2')
  });

  $('.modal').click(function() {
    $(this).hide();
  });

  // $('.modal .content').click(function(e) {
  //   e.stopPropagation();
  // });
