#home
  .background
    .circle.c1
      .yellow.half
      .red.half
    .circle.c2
      .yellow.half
      .red.half
  .container
    %h1.logo
      = succeed 'magnets' do
        %span bad

  .modal.m1.hide
    .content.text-center
      .exit x
      %h2.logo
        %span who
        are you?

  .modal.m2.hide
    .content.text-center
      .exit x
      %h2.logo
        %span what
        are you doing here?

:javascript
  $(document).ready(function() {
    $('.c1').click(function() { BadMagnets.openModal('.m1') });
    $('.c2').click(function() { BadMagnets.openModal('.m2') });
  })
