%section
  -# .row
  -#   .column.text-center
  -#     %h1.header No Shows at This Time
  .row(data-aos="flip-up")
    .column.text-center
      %h1.header June 13th
      %h3.header Loving Touch w/Valerie The Vulture
      %h4.header Ferndale, MI
      %h5.header.accent-color= link_to 'Get Tickets', 'https://www.ticketweb.com/event/bad-magnets-valerie-the-vulture-the-loving-touch-tickets/10461095?pl=lovingtouch&fbclid=IwAR1psgnQZyPdxFclhuyvpm2lqcfhJ8L7iPaF1rxY5d-kvkKU4NxJgM7kDME', target: '_blank', class: 'accent-color'
