= content_for :title, 'News | Bad Magnets'
= content_for :description, 'Stay up to date on the latest Bad Magnets news.'

#news
  %section
    .row
      .column.lg-5.lg-offset-1.fade-in(data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-delay="0")
        %h1.header Longtime friends Bad Magnets take creative approach to catchy, atmospheric electro-pop
        %p.text.mb-1
          If this is the first you’re hearing of Bad Magnets, it’s because they don’t have a social media presence. That’s on purpose. “Yeah, that’s all bullshit,” is not only a candid indicator of their stance on that, but it’s also the melodically coiled one-line wording to the chorus of the first song on their new EP....
        %p.header
          = link_to 'Read Full Story', 'https://www.metrotimes.com/city-slang/archives/2019/09/26/longtime-friends-bad-magnets-take-creative-approach-to-catchy-atmospheric-electro-pop', target: '_blank'
        %p.text.mb-1 Jeff Milo - Metro Times
      .column.lg-5.fade-in(data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-delay="0")
        = image_tag 'BM_EP_I.jpg'
