%section
  .row
    .column.lg-5.lg-offset-1.fade-in(data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-delay="0")
      %h1.header EP RELEASE 9/27
      %p.text.mb-1
        Bad Magnets will be releasing their debut EP on
        %b September 27th.
        It will be available for stream and download on all popluar platforms.  If you like it maybe they'll play it live.  Who knows.  Who cares.  Enjoy.
    .column.lg-5.fade-in(data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-delay="0")
      = image_tag 'BM_EP_I.jpg'
