//RESET
a { text-decoration: none; }
img { max-width: 100%; }
ul { list-style: none; }

//VARIABLES
$yellow: #FDF002;
$yellow-2: #D4A426;
$gray: #DAD4D4;
$brown: #a56717;
$blue: #0047AB;

$accent: #E2A765;
$dark: #141519;

$black: black;
$white: white;

$bp-mobile: '450px';
$bp-tablet: '768px';
$bp-desktop: '1440px';

//LAYOUT
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  // background: $yellow;
}

main {
  overflow: scroll;
  // flex-grow: 2;
}


//TYPOGRAPHY
.header,
.text {
  color: $dark;
  text-transform: uppercase;
}

.header {
  font-family: 'John';
  margin-bottom: .5rem;
}

.text { font-family: 'Joe'; }

//COLOR HELPERS
.yellow { color: $yellow; }
.accent-color { color: $accent; }

//POSITION HELPERS
.vert-align-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
