.modal#show
  .content.dark-bg
    .exit.white x
    .row
      .column.text-center
        %h2.header.accent-color Live
        %h3.header.white June 13th, Loving Touch
        %h4.header.white Ferndale, MI
        %h4.header= link_to 'Get Tickets', 'https://www.ticketweb.com/event/bad-magnets-valerie-the-vulture-the-loving-touch-tickets/10461095?pl=lovingtouch&fbclid=IwAR1psgnQZyPdxFclhuyvpm2lqcfhJ8L7iPaF1rxY5d-kvkKU4NxJgM7kDME', target: '_blank', class: 'accent-color'
        .text-center.mt-2.mb-2
          = image_tag '59_Edp.jpg'
