%ul#tags
  %li Detroit
  %li Indie
  %li Indie Rock
  %li Indie Pop
  %li Alternative
  %li Music
  %li Electronic
  %li Michigan
  %li Dream Pop
  %li Shoegaze
  %li Pop
  %li Atmospheric
  %li Electro-Pop
